html,
body,
#root {
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  --text-primary: #b6b6b6;
  --text-secondary: #505055;
  --text-three: #23232e;
  --text-four: #141418;
}

body {
  font-family: "Inter var", sans-serif;
  color: #101015;
}

.overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}
.svg_fb {
  height: 2rem;
  width: 2rem;
  min-width: 2rem;
  margin: 1px;
  pointer-events: auto;
  cursor: pointer;
  color: black;
}
.svg_tw {
  height: 2rem;
  width: 2rem;
  min-width: 2rem;
  margin: 1px;
  pointer-events: auto;
  cursor: pointer;
  color: black;
}
.name {
  text-transform: uppercase;
  text-align: center;
  font-size: 7em;
  letter-spacing: 0px;
  pointer-events: none;
  font-weight: 100;
  padding: 0;
  margin: 0;
  line-height: 0.9em;
  padding: 25px;
  border: solid 3px #101015;
  animation: anim 10s linear forwards;
}
@keyframes anim {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 0.9;
  }
  20% {
    opacity: 0.8;
  }
  30% {
    opacity: 0.7;
  }
  40% {
    opacity: 0.6;
  }
  50% {
    opacity: 0.5;
  }
  60% {
    opacity: 0.4;
  }
  70% {
    opacity: 0.3;
  }
  80% {
    opacity: 0.2;
  }
  90% {
    opacity: 0.1;
  }
  100% {
    opacity: 0;
  }
}

.name > span {
  letter-spacing: -8px;
}

@media only screen and (max-width: 425px) {
  .name {
    text-transform: uppercase;
    text-align: center;
    justify-content: center;
    font-size: 2em;
    letter-spacing: 0px;
    font-weight: 100;
    padding: 0;
    margin: 0;
    line-height: 0.9em;
    padding: 25px;
    border: none;
  }

  .pointer_event {
    position: absolute;
    bottom: 40px;
    margin-top: 2em;

    font-weight: 400;
    font-size: 0.7em;
    line-height: 1.5em;
    letter-spacing: 0px;
    color: #17174d;
    pointer-events: none;
    display: block;

    width: 100vw;
  }
}

.pointer_event {
  position: absolute;
  bottom: 40px;
  margin-top: 2em;
  text-align: center;
  font-weight: 400;
  font-size: 0.7em;
  line-height: 1.5em;
  letter-spacing: 0px;
  color: #17174d;
  pointer-events: none;
}
.twt_name {
  pointer-events: none;
}
.footer {
  background-color: var(--text-four);
  height: 10%;
  width: auto;
  padding-left: 3rem;
  padding-right: 3rem;
}

.container {
  display: inline-flex;
  justify-content: center;
}
